@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Screen */
.start-screen {
    width: 20%;
    margin: auto;
    min-height: 100vh;
    position: relative;
    border: 2px solid;
    border-radius: 10px;
}

#topics-list {
    display: flex;
    flex-wrap: wrap;
}

.topic-item {
    border: 1px solid;
    border-radius: 10px;
    width: 90%;
    height: 2rem;
    padding: 2rem;
    margin: 1rem 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-item:hover {
    background-color: rgb(144, 167, 243);
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


/* Form */
.form-container {
    width: 20rem;
    height: 20rem;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    margin: auto;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
}

.form-container > input {
    margin: 0.5rem 0;
    padding: 0 .5rem;
    height: 2rem;
    width: 70%;
    font-size: 1rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
}

.form-container > button {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}


/* Buttons */
button {
    border: none;
    background-color: transparent;
    color: blueviolet;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: scale(.98);
}

#add-new-topic {
    font-size: 2rem;
    margin-bottom: 2rem;
}